.ModalHeader {
  background: #343434;
  padding: 10px;
  border: 0;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    border: 5px solid red;
  }
}

.MessageBlock {
  background-color: #343434;
  border: 0;
  padding: 1rem 1rem 1.5rem;
  color: white;
  font-weight: 300;
  font-family: "Messina Sans", sans-serif;
  font-size: 25px;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 65px;
}

.Img {
  width: auto;
  height: 200px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.Img:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.modalGroupDialog {
  display: flex;
  align-items: center;
  margin-top: -2rem;
  height: 1280px;
  max-width: 643px;
}

.Icon {
  width: 35px !important;
  margin-left: 1rem;
  height: auto !important;
}
