.ModalHeader {
  background: #343434;
  padding: 0;
  border: 0 black;
  display: flex;
  flex-wrap: wrap;
}

.MessageBlock {
  background-color: #2a2e31;
  border: 0;
  padding: 1rem;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Img {
  width: 250px;
  height: 233px;
  padding: 1px;
  margin: 0;
}
