.masthead {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.circle {
  opacity: 0.4;
  fill: yellow;
}

.Modal {
  border: 1px solid #343434;
}
.Help {
  background-color: #343434;
  border: 0;
  padding: 1rem;
  color: white;
  font-weight: 500;
}
.modalHelpDialog {
  margin: 33rem auto;
}