.modalContentFooter {
  background-color: #343434;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 0;
  border-radius: 0;
  padding: 35px 0 50px;
  p {
    color: white;
    font-weight: 300;
    margin: 0;
    font-family: "Messina Sans", sans-serif;
    font-size: 21px;
    letter-spacing: 0.5px;
    line-height: 130%;
  }
  .objectTitle {
    line-height: 55px;
    color: #eb5b28;
    font-size: 50px;
    font-weight: bold;
    font-family: "Messina Sans", sans-serif;
    letter-spacing: 0;
  }
  .objectInfoBlock {
    margin: 0;
    width: 100%;
    padding-bottom: 0;
  }

  .objectInfo {
    margin: auto;
    width: 65%;
    margin-bottom: 1rem;
  }

  .objectInfoResources {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 65%;
    p:first-child {
      margin: 0;
      border-left: 2px solid white;
    }
    p {
      border-right: 2px solid white;
      padding: 0.5rem;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
