.modalContent {
  background-color: #676767;
  border: 0;
}

.modalHeader {
  @extend .modalContent;
  padding: 0;
  border-radius: 0;
  .Video {
    width: 100%;
    margin: 0;
    background-color: black;
    div[class*="video-module--videoModal"] {
      margin: 0;
      iframe {
        margin: 0;
      }
    }
  }
  .defaultImage {
    padding: 10px;
  }
  .Image {
    padding: 0;
    width: 680px;
    height: 445px;
    margin: 0;
  }
  .MasInfo {
    background-color: #676767;
    padding: 3rem 0;
    max-width: 65%;
    margin: auto;
    font-size: 23px;
    color: white;
    font-weight: 300;
    p {
      font-family: "Messina Sans", sans-serif;
      font-weight: 300;
    }
  }
}
