.masthead {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.circle {
  opacity: 0.4;
  fill: yellow;
}

.Help {
  background-color: #2a2e31;
  border: 0;
  padding: 1rem;
  color: white;
  font-weight: 500;
  .HelpMessage {
    margin-left: 1.5rem;
  }
}

.modalHelpDialog {
  margin: 33rem auto;
}
