.modal-content {
  border: 0;
}

div[class*="modalHelpDialog"] .modal-content {
  border: 1px solid #2a2e31;
}

div[class*="modalHelpDialog"] .modal-content .close {
  right: 0.5rem;
  top: 0;
  color: white;
}

div[class*="modalHelpDialog"] .modal-content .modal-title {
  padding: 1rem 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.carousel-control-prev {
  height: 70px;
  width: 60px;
  background-color: black;
  opacity: 0.7 !important;
  border-radius: 0 30px 30px 0;
  top: 640px;
}

.carousel-control-next {
  height: 70px;
  width: 60px;
  padding: 0px 0.5rem 0 0rem;
  background-color: black;
  opacity: 0.7 !important;
  border-radius: 30px 0 0 30px;
  top: 640px;
}

.carousel-indicators {
  top: 0;
  height: 50px;
}
.carousel-indicators li {
  margin: 1rem 0.5rem;
  border-radius: 50%;
  width: 22px;
  height: 2px;
  background-clip: unset;
}
