.modal-content {
  border: 0;
  border-radius: 0;
}

div[class*="modalHelpDialog"] .modal-content {
  height: 100%;
}

div[class*="modalHelpDialog"] .modal-content .close {
  right: 4px;
  top: -6px;
  color: white;
  text-shadow: none;
  font-weight: 300;
  font-size: 36px;
}

div[class*="modalHelpDialog"] .modal-content .modal-title {
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Messina Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.carousel-control-prev {
  height: 60px;
  width: 70px;
  background-color: black;
  opacity: 0.7 !important;
  border-radius: 0 48% 48% 0;
  top: 32.5rem;
}

.carousel-control-next {
  height: 60px;
  width: 70px;
  padding: 0px 0.5rem 0 0rem;
  background-color: black;
  opacity: 0.7 !important;
  border-radius: 48% 0 0 48%;
  top: 32.5rem;
}

.carousel-indicators {
  top: 0;
  height: 50px;
}
.carousel-indicators li {
  margin: 1rem 0.5rem;
  border-radius: 50%;
  width: 20px;
  height: 1px;
  background-clip: unset;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

.modal-backdrop.fade {
  opacity: 0 !important;
}

.gradient {
  opacity: 0.99 !important;
}

.degradient {
  opacity: 1 !important;
}
