.masthead {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.circle {
  opacity: 0;
  fill: yellow;
}

.Help {
  background-color: #2a2e31;
  border: 0;
  padding: 1rem;
  color: white;
  font-weight: 300;
  height: 100%;
  align-items: center;
  border-radius: 0;
  .HelpMessage {
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
  }
}

.modalHelpDialog {
  margin: 31rem auto;
  max-width: 520px;
  height: 110px;
}

.Icon {
  width: auto !important;
  height: 46.07px !important;
  margin-top: -5px;
  margin-right: 10px;
}

.ModalTitle {
  width: 100%;
  justify-content: space-evenly;
}

.Opacity {
  opacity: 0.5;
}
