.modalContent {
  background-color: #676767;
  border: 0;
}

.modalBody {
  @extend .modalContent;
  padding: 0 0 10px;
  .imageCarousel {
    width: auto;
    height: 100px;
    margin: 0 5px;
    padding: 0;
  }
  [active="false"] {
    opacity: 0.6;
  }
  .modalImagesBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
      &:not([active="true"]) {
        opacity: 0.6;
      }
    }
  }
}
